# =============================
# Python
# =============================

# Virtual Environment
.venv/
venv/
env/

# Cache
__pycache__/
*.py[cod]
*.pyo

# =============================
# Environment Variables / secrets
# =============================

.env
.env.*
!.env.example

# =============================
# Node / React
# =============================

node_modules/
dist/
build/

# =============================
# IDE
# =============================

.vscode/
.idea/

# =============================
# OS
# =============================

.DS_Store
Thumbs.db

# =============================
# Logs
# =============================

*.log
logs/

# =============================
# Testing / Coverage
# =============================

.pytest_cache/
.coverage
htmlcov/

# =============================
# Local Data
# =============================

*.sqlite